person.image.namespace=person
# Dav URI should include username (if required) but NOT password
person.image.dav.uri=http://dav.ceefour.annafi.dev/test_person/
person.image.dav.password=
# Do NOT include username and password in public URI! It can be CDN.
person.image.public.uri=http://dav.ceefour.annafi.dev/test_person/
# MongoDB URI should include username (if required) but NOT password
# Collection name is always ${namespace}Image = personImage
# If possible, Image MongoDB should be separate than data MongoDB
person.image.mongo.uri=mongodb://127.0.0.1:27017/test
person.image.mongo.password=
