.classpath
.project
.settings
target
build
.gradle
.directory
/apacheds
/folder.shell
/taxonomy.shell
/social.shell
/email.shell
/category.shell
/facebook
/twitter
/async
/cdi
/push
/json
/image-store
/parent
/libraries.gradle

# Intellij
.idea/copyright
.idea/libraries
.idea/scopes
.idea/.name
.idea/*.xml
*.iml
*.ipr
*.iws
out/
.idea_modules/
