.classpath
.project
.settings
target
build
.gradle
.directory
/apacheds
/folder.shell
/taxonomy.shell
/social.shell
/email.shell
/category.shell
/facebook
/twitter
/async
/cdi
/push
/json
/image-store
/parent
