<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin
      name="%pluginName"
      id="org.soluvas.commons.edit"
      version="1.0.0"
      provider-name="%providerName"
      class="org.soluvas.commons.provider.CommonsEditPlugin$Implementation">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.soluvas.commons" export="true"/>
      <import plugin="org.eclipse.emf.edit" export="true"/>
   </requires>

   <runtime>
      <library name=".">
         <export name="*"/>
      </library>
   </runtime>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated commons -->
      <factory
            uri="http://www.soluvas.org/schema/commons/1.0"
            class="org.soluvas.commons.provider.CommonsItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
