<p><strong>{{contact.name}}</strong> (<a href="mailto:{{contact.email}}">{{contact.email}}</a>) Send Feedback</p>

<p><strong>Subject:</strong>
	{{contact.subject}}</p>
<p><strong>Mobile Number:</strong>
	{{contact.mobile}}</p>

<blockquote>
	{{contact.message}}
</blockquote>
	