{{{appManifest.letterSalutation}}} {{{recipient.name}}},
		  
{{{pagePlain}}}

{{{appManifest.letterClosing}}}
{{{appManifest.title}}} ({{{webAddress.baseUri}}})

--
Komunikasi dengan email bisa menghubungi kami di {{{appManifest.generalEmail}}}
{{{appManifest.title}}} is managed by {{{appManifest.organizationName}}}.
{{{appManifest.organizationAddress}}}
